<!DOCTYPE html>
<html lang="en">
<head class="main-header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../myStylee.css">
    <link rel="shorcut icon" type="image/x-icon" href="../File/Image/favicon.ico">
    <title>Coffe blog - About us</title>
</head>
<body>
    <header class="main-header">
        <div class="menu-flex">
            <h1><a href="../index.html">Coffee Blog</a></h1>
            <nav>
                <a calss="link" href="#">About us</a>
                <a calss="link" href="courses.html">Courses</a>
                <a calss="link" href="contact.html">Contact</a>
            </nav>
        </div>
    
        <h1>CoffeeBlog</h1>
        <h2>Coffee Blogsss with tips and Courses</h2>
        <p>learn from the expeerte with the best recipes and tips</p>
    
    </header>
    <div class="flex-container container">
        <main class="blog-container">
                <h1>About us</h1>
                <img src="../File/Image/main/coffe3.jpg" alt="coffe picture">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis nulla asperiores ad sunt deserunt neque, illum ducimus quas molestias voluptates, quod mollitia provident dolorum perspiciatis accusantium omnis fuga reiciendis vero.</p>
        </main>
    </div>
    <footer>
        <div class="menu-flex">
            <h1>Coffee Blog</h1>
            <nav>
                <a calss="link" href="./about.html">About us</a>
                <a calss="link" href="./courses.html">Courses</a>
                <a calss="link" href="./contact.html">Contact</a>
            </nav>
        </div>
    </footer>
</body>
</html>