<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../myStylee.css">
    <link rel="icon" type="image/x-icon" href="../File/Image/favicon.ico">
    <title>Document</title>
</head>
<body>
    <header class="contect-header">
        <div class="menu-flex">
            <h1><a href="../index.html">Coffee Blog</a></h1>
            <nav>
                <a calss="link" href="about.html">About us</a>
                <a calss="link" href="courses.html">Courses</a>
                <a calss="link" href="contact.html">Contact</a>
            </nav>
        </div>
    </header>
    <div class="flex-container container">
        <main>
            <h1>Contact</h1>

        <div class="form-container">
            <div class="img-container">
                <img src="../File/Image/main/contact.jpg" alt="coffe picture">

            </div>
            <div class="inputs-container container">
                <div class="input-item">
                    <label>Name:</label>
                    <input type="text" placeholder="Add your name">
                </div>
                <div class="input-item">
                    <label>Email:</label>
                    <input type="email" placeholder="Add your email">
                </div>
                <div class="input-item">
                    <label>Message:</label>
                    <textarea name="" id="" placeholder="Add your comments"></textarea>
                </div>
                <div>
                    <button class="btn btn-more">Send</button>
                </div>

            </div>
        </div>
        </main>
    </div>
    <footer>
        <div class="menu-flex">
            <h1>Coffee Blog</h1>
            <nav>
                <a calss="link" href="./about.html">About us</a>
                <a calss="link" href="./courses.html">Courses</a>
                <a calss="link" href="./contact.html">Contact</a>
            </nav>
        </div>
    </footer>
</body>
</html>