<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../myStylee.css">
    <link rel="shorcut icon" type="image/x-icon" href="../File/Image/favicon.ico">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <div class="menu-flex">
            <h1><a href="../index.html">Coffee Blog</a></h1>
            <nav>
                <a calss="link" href="about.html">About us</a>
                <a calss="link" href="courses.html">Courses</a>
                <a calss="link" href="contact.html">Contact</a>
            </nav>
        </div>
    
        <h1>CoffeeBlog</h1>
        <h2>Coffee Blogsss with tips and Courses</h2>
        <p>learn from the expeerte with the best recipes and tips</p>
    
    </header>
    <div class="flex-container container">
        <main class="cuses-container">
            <div class="inputs-container buy-item">
                <h1>Essential</h1>
                <h2>5 USD / mounth</h2>
                <ul>
                    <li>learn the coffee</li>
                    <li>cold coffee</li>
                    <li>capuccino</li>
                    <li>Use equiment</li>
                    <li>Express coffe</li>
                </ul>
                <button class="btn btn-more">Buy</button>
            </div>
            <div class="inputs-container buy-item">
                <h1>Middle</h1>
                <h2>10 USD / mounth</h2>
                <ul>
                    <li>learn the coffee</li>
                    <li>cold coffee</li>
                    <li>capuccino</li>
                    <li>Use equiment</li>
                    <li>Express coffe</li>
                </ul>
                <button class="btn btn-more btn-cente">Buy</button>
            </div>
            <div class="inputs-container buy-item">
                <h1>Expert</h1>
                <h2>15 USD / mounth</h2>
                <ul>
                    <li>learn the coffee</li>
                    <li>cold coffee</li>
                    <li>capuccino</li>
                    <li>Use equiment</li>
                    <li>Express coffe</li>
                </ul>
                <button class="btn btn-more">Buy</button>
            </div>

        </main>
    </div>

    <footer>
        <div class="menu-flex">
            <h1>Coffee Blog</h1>
            <nav>
                <a calss="link" href="./about.html">About us</a>
                <a calss="link" href="./courses.html">Courses</a>
                <a calss="link" href="./contact.html">Contact</a>
            </nav>
        </div>
    </footer>
</body>
</html>